h1{text-align: center;
color: black;}
#LoginForm{
   width: 40%;
    margin: 0 auto; text-align: center;
}
body{
    background-color: #cecece;
}
input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder {
  letter-spacing: 5px; /* စာလုံးကြား အကွာအဝေးကို တိုးမြှင့်ခြင်း */
  text-align: center;}