body{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 100px;
}
h1{
    font-size: 400px;
    margin: 0px auto 0px auto;
}
.div1{
    font-size: 300px;
     display: flex;
      width: 80%;
      margin: 0px auto;
      justify-content: center;
      align-items: center;
      gap: 30px;
}
.div2{
     font-size: 100px;
     display: flex;
      width: 80%;
      margin: 0px auto 0px auto;
      margin-top: -400px;
      justify-content: center;
      align-items: center;
      gap: 50px;
    }
    .div3{
         margin: 0px auto 0px auto;
      margin-top: -170px;
    
    }
    .ddd{
       margin: 0px auto 0px auto;
       margin-top: -200px;
    }