/* *{color: red;} */
/* *{ margin: 50%;padding: 0px ;} */
h1{color: blue;
text-align: center;}
a[title="facebook"]{color: rgb(27, 8, 150);}
#idselector{color: red;
font-size: 20px;}
.classselector{color: rgb(56, 217, 59);
text-transform: capitalize;
font-size: 10px;text-indent: 50px;}

/* class selector  */
.classselector{color: rgb(22, 42, 141)
    ;text-transform: capitalize;
font-size: 20px;
text-indent: 50px;}


/* Descendant Selector  */
.desc a{color: rgb(10, 76, 163);}


/* Child Selector  */
.child >span{color: rgb(104, 14, 114);}
.child> a {color: gray;}
/* target  */
a:link{color: red;
text-decoration: none;}
a:hover{ color: green;
letter-spacing: 2px;}
a:active{color: blue;
font-size: 20px;}
a:visited{color: peru;}
:target{color: rgb(26, 88, 146);
font-size: 20px;
text-transform: uppercase;
letter-spacing: 5px;}


/* Border */
.borderOne{border: 20px double green;}
/* size style colour */
.borderTwo{border-top: 5px solid red;}
/* border-bottom: 5px solid red; */
/* border-left: 5px solid red; */
/* border-right: 5px solid red; */
/* border width */
.borderThree{border-style: solid;
    /* border-width: 10px; */
    /* T /R /B/L */
    /* border-width: 5px 50px; */
    /* t&B /L&T */
    border-width: 5px 20px 15px;
    /* T/ L&T / B နာရီလက်တံ သွားတဲ့ အတိုင်း အပေါ်/ညာ/အောက်/ဘယ်/ */
    /* border style  */
border-width: 5px 10px 15px 20px;}
    /* border style  */

.borderFour{
    /* border-style: solid; */
    /* border-style: dotted solid; */
    border-style: dotted dashed solid double;
    border-width: 5px;
    border-color: green yellow red blue;
}

    .marginOne{border: 2px solid red;margin-top: 80px;}


    .paddinOne{border: 2px solid red ;padding: 50px; }
    


    .Inline{border: 2px solid red;
    width: 300px; display: inline-block;}
    .block{border: 2px solid red;
    width: 300px;
display:inline-block;}



/* float  */

.float_image1{
    width: 50%;
    float: right;
}
.clear{
    clear: both;
}
.float_image2{
    width: 50%; 
    float: left;
}
/* Flex */
.Flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* top buttom */
    /* justify-content: center; */
    height: 100px;
    background-color: red;
}

/* Girld */
.Grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    /* grid-template-columns: auto auto auto; */
    color: aliceblue;
    /* grid: row gap 40px; */
    /* grid-column-gap: 30px; */
    grid-gap: 30px;

}
.Grid_child{
    padding: 20px;
    /* text-align: center;  ရေးထားတဲ့စာတွေက အလယ်မှာရောက်အောင်ရေးတာ */
    text-align: center;   }